{{ define "content" }}
<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">New Password</h1>
    <form class="form-signin pt-md-5" method="post" id="newPasswordForm">
        <input type="hidden" value="{{ .Token }}" name="token">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control mb-2" placeholder="New Password" required autofocus>
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" id="inputPassword2" name="password1" class="form-control" placeholder="Confirm new password" required autofocus>
        <div class="pt-md-3">
            <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
            <a class="btn btn-lg btn-danger btn-block" href="/login/">Sign in</a>
        </div>
    </form>
</div>
{{end}}
{{ define "scripts" }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var newPasswordForm = document.getElementById("newPasswordForm");
        newPasswordForm.addEventListener("submit", function(event){
            newPasswordController.submit(newPasswordForm, event)
        });
    });
</script>
{{ end }}